{% extends "base.html" %}

{% block title %}FMS - Home{% endblock %}

{% block content %}

<!-- New line (which you are free to edit or delete): -->
 <div class="position-relative" style="height: 100vh;"> 
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-start align-items-center pt-5" style="background: rgba(0,0,0,0.3);">
      <div class="text-center text-white p-3" style="background: rgba(0,0,0,0.5); border-radius: 10px;">
        <h2>Farm Management Simulator</h2>
        <p>Welcome to our farm management system.</p>
        <p>Please use the Navbar in the menu above to display the current status of the farm.</p>
      </div>
    </div>
  </div>

{% endblock %}