{% extends "base.html" %}

{% block title %}FMS - Home{% endblock %}

{% block content %}

<!--<h2 class="display-4 text-primary border-bottom pb-2 mb-4">Home </h2>-->

<!-- New line (which you are free to edit or delete): -->
 <!-- class="img-fluid mx-auto d-block" style="max-width: 100%; height: auto;"-->
 <div class="position-relative" style="height: 100vh;">
    <img src="/static/farm2.jpg" alt="Farm Management Simulator" class="img-fluid w-100 h-100" style="object-fit: cover;">
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-start align-items-center pt-5" style="background: rgba(0,0,0,0.3);">
      <div class="text-center text-white p-3" style="background: rgba(0,0,0,0.5); border-radius: 10px;">
        <h2>Farm Management Simulator</h2>
        <p>Welcome to our farm management system.</p>
        <p>Please use the Navbar in the menu above to display the current status of the farm.</p>
      </div>
    </div>
  </div>

{% endblock %}