{% extends "base.html" %}

{% block title %}Paddocks{% endblock %}

{% block content %}
<div class="container table-responsive">
<h2 class="display-4 text-primary border-bottom pb-2 mb-4 mt-4">Paddocks</h2>
<!-- New line (which you are free to edit or delete): -->
<table class="table table-hover">   
    <thead>
        <tr>
        <th scope="col">Paddock Name</th>
        <th scope="col">Area</th>
        <th scope="col">DM/ha</th>
        <th scope="col">Total DM</th>
        <th scope="col">Mob Name</th>
        <th scope="col">Stock Count</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for paddock in paddocks %}  
        <tr {% if paddock['paddock_dm'] < 1500 %}  class="table-danger"
            {% elif paddock['paddock_dm'] < 1800 %} class="table-warning"
            {% endif %}>
            <td>{{paddock['paddock_name']}}</td>
            <td>{{paddock['paddock_area']}}</td> 
            <td>{{paddock['paddock_dm']}}</td>     
            <td>{{paddock['paddock_total_dm']}}</td>
            <td>{{paddock['mob_name'] or ''}}</td>
            <td>{{paddock['stock_count']}}</td>
            <td>
                <a href="{{ url_for('edit_paddock', paddock_id=paddock['paddock_id']) }}" class="btn btn-primary btn-sm">Edit</a>
            </td>
            <td>
                {% if paddock['mob_name'] is none %}
                <form action="{{ url_for('delete_paddock') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="paddock_id" value="{{ paddock['paddock_id'] }}">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this paddock?');">Delete</button>
                </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}    
    </tbody>
</table>
<div style="display: flex; justify-content: space-between; width: 100%;">
    <a href="{{ url_for('paddocks_add') }}" class="btn btn-primary">Add Paddock</a>
    <a href="{{ url_for('move_to_next_day') }}" class="btn btn-primary">Move to NEXT day</a>
</div>
</div>
{% endblock %}