{% extends "base.html" %}

{% block title %}Stocks{% endblock %}

{% block content %}

<h2 class="display-4 text-primary border-bottom pb-2 mb-4">Stocks</h2>
<table class="table table-striped table-hover">
    <thead>
        
    </thead>
    <tbody>
        {% for mob in mobs %}
        <tr>
            <th scope="col">Mob Name</th>
            <th scope="col">Paddock Name</th>
            <th scope="col">Stock Count</th>
            <th scope="col">Average Weight</th>
        </tr>
        <tr>
            <td>{{ mob['mob_name'] }}</td>
            <td>{{ mob['paddock_name'] }}</td>
            <td>{{ mob['stock_count'] }}</td>
            <td>{{ mob['avg_weight'] }}</td>
        </tr>
        <tr>
            <td colspan="4">
                <table class="table mb-0 table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Stock ID</th>
                            <th scope="col">Age</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                            {% if stock['mob_id'] == mob['mob_id'] %}
                            <tr>
                                <td>{{ stock['stock_id'] }}</td>
                                <td>{{ stock['stock_age'] }}</td>
                                <td>{{ stock['stock_dob'] }}</td>
                                <td>{{ stock['stock_weight'] }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}